<div :class="{
            'md:right-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-no-wrap md:overflow-hidden bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 bg-cover bg-center layout-shadow':
                1 == 1,
            ' hidden': menu == false
        }">
    <div class="h-full w-full" style=" background: #fff;">
        <!-- Title Side Menu -->
        <div class="h-20 items-center w-full flex justify-center text-xl border-b font-medium orange-color">
            لوحة التحكم
        </div>
        <!-- End Title Side Menu -->
        <!-- User Info -->
        <div class="h-32 w-full flex items-center px-3 justify-between border-b mb-4">
            <div class="h-24 w-16">
                <img :src="user.photo" class="rounded-full h-16" />
                <div
                    class="rounded-full h-5 w-5 bg-white shadow-xl animate-ping  -mt-5 mr-12 flex items-center justify-center">
                    <div class="bg-green-500 h-4 w-4 rounded-full animate-ping"></div>
                </div>
                <div
                    class="rounded-full h-5 w-5 bg-white shadow-xl relative z-10 -mt-5 mr-12 flex items-center justify-center">
                    <div class="bg-green-500 h-4 w-4 rounded-full"></div>
                </div>
            </div>
            <div>
                <div class="text-lg w-40 font-medium">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="flex items-center justify-center py-3 text-gray-700">
                    <div @click="logout"
                        class="bg-white h-10 w-10 rounded-full shadow-1 mx-2 flex items-center justify-center cursor-pointer hover:text-red-400">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <router-link to="/admin/profile"
                        class="bg-white h-10 w-10 rounded-full shadow-1 mx-2 flex items-center justify-center cursor-pointer hover:text-red-400">
                        <i class="fas fa-user-edit"></i>
                    </router-link>
                    <div class="h-10 w-6"></div>
                </div>
            </div>
        </div>
        <!-- User Info -->


        
        <!-- New List -->
        <div v-for="item in pages" :key="item.id" class="JF-Flat">
            <!-- Label -->
            <div v-if="item.target==0" class="w-full flex items-center h-10 mt-2">
                <div class="h-px w-4 bg-gray-400 ml-3 mt-1"></div>
                <div class="Swissra-Light" style="color: #a1acb8;">{{item.name}}</div>
            </div>
            <!-- End Label -->
            <!-- Father List -->
            <div v-else-if="item.list.length>0" class="item" @click="toggleSideList(item.id)">
                <div v-if="pageActive==item.id"
                    class="flex items-center justify-between h-12 w-auto mx-3 rounded-md px-3"
                    style="color: #696cff; background-color: rgba(105,108,255,.16);">
                    <div class="flex items-center">
                        <i :class="item.icon + ' ml-2 text-md'"></i>
                        <div class="text-sm">{{item.name}}</div>
                    </div>
                    <i v-if="openPageList==item.id" class='fas fa-chevron-down text-md'></i>
                    <i v-else class='fas fa-chevron-left text-md'></i>
                </div>
                <div v-else class="flex items-center justify-between h-12 w-auto mx-3 rounded-md px-3  hover-side-menu"
                    style="color: #697a8d;">
                    <div class="flex items-center">
                        <i :class="item.icon + ' ml-2 text-md'"></i>
                        <div class="text-sm">{{item.name}}</div>
                    </div>
                    <i v-if="openPageList==item.id" class='fas fa-chevron-down text-md'></i>
                    <i v-else class='fas fa-chevron-left text-md'></i>
                </div>
            </div>
            <!-- End Father List -->

            <!-- Item List -->
            <div v-else class="item">
                <router-link  :to="item.url">
                <div v-if="pageActive==item.id" class="flex items-center h-12 w-auto mx-3 rounded-md px-3"
                    style="color: #696cff; background-color: rgba(105,108,255,.16);">
                    <i :class="item.icon + ' ml-2 text-md'"></i>
                    <div class="text-sm">{{item.name}}</div>
                </div>
                <div v-else class="flex items-center h-12 w-auto mx-3 rounded-md px-3  hover-side-menu" style="color: #697a8d;">
                    <i :class="item.icon + ' ml-2 text-md'"></i>
                    <div class="text-sm">{{item.name}}</div>
                </div>
                </router-link>
            </div>
            <!-- End Item List -->




            <!-- Sub -->
            <div v-if="openPageList==item.id">

                <div v-for="subItem in item.list" :key="subItem.id" :to="subItem.url">
                    <router-link  :to="subItem.url">

                    <div v-if="subPageActive==subItem.id && pageActive==item.id"
                        class="flex items-center h-12 w-auto mx-3 rounded-md px-3"
                        style="color: #696cff;">
                        <span class="rounded-full bg-gray-400 ml-3 mr-1"
                            style="background-color: #6a6cff; border: 4px solid #e7e7ff; height: 15px; width: 15px;"></span>
                        <div class="text-sm">{{subItem.name}}</div>
                    </div>
                    <div v-else class="flex items-center h-12 w-auto mx-3 rounded-md px-3  hover-side-menu" style="color: #697a8d;">
                        <span class="rounded-full bg-gray-400 ml-3 mr-1"
                            style="background-color: #b4bdc6; border: 4px solid #ffffff; height: 15px; width: 15px;"></span>
                        <div class="text-sm">{{subItem.name}}</div>
                    </div>
                    </router-link>

                </div>

            </div>
            <!-- End Sub -->


        </div>
        <!-- End New List -->

    </div>
</div>