<div :class="{
            'md:right-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-no-wrap md:overflow-hidden bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 bg-cover bg-center layout-shadow':
                1 == 1,
            ' hidden': menu == false
        }">
    <div class="h-full w-full" style=" background: #fff;">
        <!-- Title Side Menu -->
        <div class="h-20 items-center w-full flex justify-center text-xl border-b font-medium orange-color">
            لوحة التحكم
        </div>
        <!-- End Title Side Menu -->
        <!-- User Info -->
        <div class="h-32 w-full flex items-center px-3 justify-between border-b mb-4">
            <div class="h-24 w-16">
                <img :src="user.photo" class="rounded-full h-16" />
                <div
                    class="rounded-full h-5 w-5 bg-white shadow-xl animate-ping  -mt-5 mr-12 flex items-center justify-center">
                    <div class="bg-green-500 h-4 w-4 rounded-full animate-ping"></div>
                </div>
                <div
                    class="rounded-full h-5 w-5 bg-white shadow-xl relative z-10 -mt-5 mr-12 flex items-center justify-center">
                    <div class="bg-green-500 h-4 w-4 rounded-full"></div>
                </div>
            </div>
            <div>
                <div class="text-lg w-40 font-medium">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="flex items-center justify-center py-3 text-gray-700">
                    <div @click="logout"
                        class="bg-white h-10 w-10 rounded-full shadow-1 mx-2 flex items-center justify-center cursor-pointer hover:text-red-400">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>
                    <router-link to="/admin/profile"
                        class="bg-white h-10 w-10 rounded-full shadow-1 mx-2 flex items-center justify-center cursor-pointer hover:text-red-400">
                        <i class="fas fa-user-edit"></i>
                    </router-link>
                    <div class="h-10 w-6"></div>
                </div>
            </div>
        </div>
        <!-- User Info -->

        <div v-for="item in pageList" :key="item.id"
            v-show="$parent.checkPermission(item.role) == true"
            class="w-auto px-2 flex flex-wrap items-center justify-start cairo" style="color:#7a7a7a;">
            <div v-if="item.open" class="my-1 layout-btn w-full rounded px-4" @click="closeSideItem(item.id)">
                <div class="flex items-center h-12 my-1 justify-between">

                    <div class="flex items-center">
                        <i :class="item.icon + ' ml-6 text-lg'"></i>
                        {{ item.name }}
                    </div>

                    <i class='fas fa-chevron-up text-lg'></i>
                </div>
            </div>




            <div v-else class="my-1  w-full px-4" @click="openSideItem(item.id)">
                <div class="flex items-center h-12 my-1 hover:text-red-400 justify-between">
                    <div class="flex items-center">
                        <i :class="item.icon + ' ml-6 text-lg'"></i>
                        {{ item.name }}
                    </div>
                    <i class='fas fa-chevron-down text-lg'></i>

                </div>
            </div>


            <!-- Sub -->
            <div v-if="item.open" class="w-full" style="color:#8a8a8a;">
                <router-link v-for="subItem in item.list" :key="subItem.id" :to="subItem.path">

                    <div v-if="subItem.active" class="my-1  w-full px-6 text-red-400">
                        <div class="flex items-center h-9 my-1 hover:text-red-400 ">
                                <i :class="subItem.icon + ' ml-6 text-lg'"></i>
                                {{ subItem.name }}
                        </div>
                    </div>
                    <div v-else class="my-1  w-full px-6">
                        <div class="flex items-center h-9 my-1 hover:text-red-400 ">
                                <i :class="subItem.icon + ' ml-6 text-lg'"></i>
                                {{ subItem.name }}
                        </div>
                    </div>


                </router-link>
            </div>
            <!-- End Sub -->

        </div>
    </div>
</div>